
*{
    margin: 0;
    padding: 0;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
    height: 100px;
}

    
.main-header {
  background-color: white;
  height: 190px; /* Adjust height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
    
}
  
.logo img {
  max-height: 200px; /* Adjust the logo size as needed */
}
  
.social-icons {
  display: flex;
  align-items: center;
    
}
  
.icon {
  margin-left: 15px; /* Adjust spacing between icons */
}
  .icon img {
  border-radius: 8px;
  max-height: 50px; /* Adjust the social media icon size as needed */
}

/*here is the end of css of header*/
  
.side a{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 165px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
.side a{
     
  --color: #FFC300;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Merriweather  ';
  text-transform: uppercase;
  color: var(--color);
  text-align: center;
  align-items: center;
}
  
.side a::after, .side a::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
}
.side a::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
  
.side a:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.side a:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
  
.side a:hover {
  color: white;
}
.side a:active {
  filter: brightness(.7);
  transform: scale(.98);
}
/*here is the end of hover effect os side bar*/     
  

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 600px 300px auto;
  grid-template-rows: 50px 100px auto 50px;
  grid-gap: 20px; 
}
.nav{
  grid-column: 1/2;
  grid-row: 1/5;
  background-color: #003566;
  height: 776.95px;
}

.img {
  grid-column: 2/3;
  grid-row: 2/3; 
}

.img .shape{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 900px;
  width: 1000px;
}

.img .mes{
    justify-self: center;
    height: 700px;
    width: 800px;
    transform: translateX(2%);
    transition: bottom 1s, left 1s;
    position: absolute;
}

.img .mes:hover{
    left: 10%;
}  
.rex{
  grid-column: 4/5;
  grid-row: 3/4;
  justify-content: center;
  align-items: center;
}
    
.rex h1{
  font-size: 50px;
  color: #003566;
  margin-bottom: 20px;
}
  
span{
  color: #FFD60A;
  box-shadow: #333;
}
  
.rex p{
  color: rgb(46, 38, 38);
  font-size: 18px;
}
  
.rex a{
  background: #003566;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
    
}
.rex a:hover{
  background-color: #FFC300;
}
   
footer{
    color: #FFC300;
    background-color: #003566;
    padding: 50px 50px;
    margin-top: -207px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
a{
  color: #FFC300;
}
