@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Shadows+Into+Light&display=swap');

/* --heading-font: "Shadows Into Light";
--paragraph-font: Inter, Helvetica, sans-serif; */

@media screen and (max-with: 900px) {
   

    nav, footer{
        flex-direction: column;
    }

    nav a{
        display: block;
        padding: 15px;
    }
    #hero{
        margin-top: o;
    }
    #herro-msg{
        margin-top: 0;
    }
    #herro-msg h4{
        display: none;
    }
    #herro-msg h1{
        color: #6f7364;
    }
    .home-title{
        font-size: 25px;
    }
    .river-card, .camping-card, .rapids-card{
        margin: 50px auto;
        width: 60%;
    }
    .mountains .msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #background{
        display: none;
    }
    footer{
        margin-top: 25px;
    }
}
h1{
    text-align: center;
    margin-top: 100px;
    font-family: "Shadows Into Light";
    font-size: 80px;

}
p{
    text-align: center;
    margin: 100px 150px;
    font-family:  Inter, Helvetica, sans-serif;
    font-size: 30px;
    
}
nav a{
    text-align: center;
    padding: 35px;
}

body{
    background-color: #e7e9e6;
    margin-bottom: 50px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }




header{
    background-color: #343939;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #8998a1;
    text-decoration: none;
}

nav a:hover{
    background-color: #e7e9e6;
   
}
footer, footer a{
    background-color: #343939;
    color: #e7e9e6;
    text-decoration: none;
    margin-top: 50px;
}
footer a:hover{
    background-color: #cf971b;
}
footer p{
    font-size: 1.2em;
}


.icon, .logo{
    width: 80px;
}
.icon{
    padding-top: 10px;
}

body{
    font-size: 22px;
    font-family: "Inter";
    font-size: 22px;
    margin: 0;
    padding: 0;
}




#logo_link{
    padding-top: 5px;   
    justify-self: center;
    align-self: center;
}
footer{
    padding: 25px 25px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding: 10px;

}
.input {
    font-family: "Shadows Into Light";
    font-size: 25px;
    margin: 10px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: .8em;
    background-color: #cf971b;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
  #msg {
    font-family: "Shadows Into Light";
    color: #343939;
    font-size: 25px;
    width: 50%;
    height: 300px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #cf971b;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  #msg:focus {

    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff 
  }
  .content{
    text-align: center;
    margin-top: 10px;
  }
  button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 20px;
    font-family: "Shadows Into Light";
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #cf971b,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #343939 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }
   #feedback {
    background-color: #cf971b;
    color: #343939;
    font-family: "Shadows Into Light";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}