@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Shadows+Into+Light&display=swap');

/* --heading-font: "Shadows Into Light";
--paragraph-font: Inter, Helvetica, sans-serif; */

@media screen and (max-with: 900px) {
    #hero, .home-grid{
        display: block;
        height: auto;
    }

    nav, footer{
        flex-direction: column;
    }

    nav a{
        display: block;
        padding: 15px;
    }
    #hero{
        margin-top: o;
    }
    #herro-msg{
        margin-top: 0;
    }
    #herro-msg h4{
        display: none;
    }
    #herro-msg h1{
        color: #6f7364;
    }
    .home-title{
        font-size: 25px;
    }
    .river-card, .camping-card, .rapids-card{
        margin: 50px auto;
        width: 60%;
    }
    .mountains .msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #background{
        display: none;
    }
    footer{
        margin-top: 25px;
    }
}
nav a{
    text-align: center;
    padding: 35px;
}

body{
    background-color: #e7e9e6;
}

header{
    background-color: #343939;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #8998a1;
    text-decoration: none;
}

nav a:hover{
    background-color: #e7e9e6;
   
}
footer, footer a{
    background-color: #343939;
    color: #e7e9e6;
    text-decoration: none;
}
footer a:hover{
    background-color: #cf971b;
}
footer p{
    font-size: 1.2em;
}


.icon, .logo{
    width: 80px;
}
.icon{
    padding-top: 10px;
}

body{
    font-size: 22px;
    font-family: "Inter";
    font-size: 22px;
    margin: 0;
    padding: 0;
}




#logo_link{
    padding-top: 5px;   
    justify-self: center;
    align-self: center;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding: 15px;

}
.river-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #cf971b;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

main section img{
    box-sizing: border-box;
}

