@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Shadows+Into+Light&display=swap');

/* --heading-font: "Shadows Into Light";
--paragraph-font: Inter, Helvetica, sans-serif; */

@media screen and (max-with: 900px) {
   

    nav, footer{
        flex-direction: column;
    }

    nav a{
        display: block;
        padding: 15px;
    }
    #hero{
        margin-top: o;
    }
    #herro-msg{
        margin-top: 0;
    }
    #herro-msg h4{
        display: none;
    }
    #herro-msg h1{
        color: #6f7364;
    }
    .home-title{
        font-size: 25px;
    }
    .river-card, .camping-card, .rapids-card{
        margin: 50px auto;
        width: 60%;
    }
    .mountains .msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #background{
        display: none;
    }
    footer{
        margin-top: 25px;
    }
}
h1{
    text-align: center;
    margin-top: 100px;
    font-family: "Shadows Into Light";
    font-size: 80px;

}
p{
    text-align: center;
    margin: 100px 150px;
    font-family:  Inter, Helvetica, sans-serif;
    font-size: 30px;
    
}
nav a{
    text-align: center;
    padding: 35px;
}

body{
    background-color: #e7e9e6;
    margin-bottom: 50px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
.card{
    background-color: #343939;
    color: #e7e9e6;
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius: 15px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card:hover{
    opacity: .9;
    transform: scale(1.4);
}
span{
    color: #cf971b;
}
.car1{
    background-image: url(../image/River.jpg);
}
.car2{
    background-image: url(../image/camp.png);
}
.car3{
    background-image: url(../image/Rapid.jpg);
}
.card-image {
    background-color: #cf971b;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.p{
    font-size: 20px;
    text-align: center;
    z-index: -5;
    margin: 10px;
    font-family:  Inter, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: "Shadows Into Light";
}

.container{
    display: flex;
    justify-content: center;

}

header{
    background-color: #343939;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #8998a1;
    text-decoration: none;
}

nav a:hover{
    background-color: #e7e9e6;
   
}
footer, footer a{
    background-color: #343939;
    color: #e7e9e6;
    text-decoration: none;
    margin-top: 50px;
}
footer a:hover{
    background-color: #cf971b;
}
footer p{
    font-size: 1.2em;
}


.icon, .logo{
    width: 80px;
}
.icon{
    padding-top: 10px;
}

body{
    font-size: 22px;
    font-family: "Inter";
    font-size: 22px;
    margin: 0;
    padding: 0;
}




#logo_link{
    padding-top: 5px;   
    justify-self: center;
    align-self: center;
}
footer{
    padding: 25px 25px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding: 10px;

}
