
nav{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-size: 1.5rem;
    background-color: #2B2D42;
    padding: 1rem;
    
}
nav a{
    text-decoration: none;
    color: #EDF2F4;
    padding: .5rem;
    background-color: #2B2D42;
}

main h1 {
    color: #2B2D42;
    
}
main img{
    box-shadow: 0 20px 17px -5px #2B2D42;
}

span{
    color: #EF233C;
    font-size: 25px;
    text-shadow: #2B2D42;
}

main{
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

aside{
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1.5rem;
    background-color: #8D99AE;
    color: #2B2D42;
    text-align: center;
    box-shadow: 0 20px 18px -5px #2B2D42;
}
aside img{
    
    width: 200px;
    height: auto;
}
aside h2{
    color: #EF233C;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #2B2D42;
    text-align: center;
    
}


main p{
    padding: 0;
}
