@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Shadows+Into+Light&display=swap');

/* --heading-font: "Shadows Into Light";
--paragraph-font: Inter, Helvetica, sans-serif; */

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    padding: 35px;
}
#herro-msg h1, #herro-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #343939;
}
 
body{
    background-color: #e7e9e6;
}

header{
    background-color: #343939;
}
nav a{
    color: #8998a1;
    text-decoration: none;
    

}

nav a:hover{
    background-color: #e7e9e6;
   
}
.book, .join{
    background-color: #cf971b;
    color: #343939;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #e7e9e6;
    color: #343939;
}
.msg{
    background-color: #8998a1;
    line-height: 1.5em;
    padding: 35px;
}
footer, footer a{
    background-color: #343939;
    color: #e7e9e6;
    text-decoration: none;
}
footer a:hover{
    background-color: #cf971b;
}
footer p{
    font-size: 1.2em;
}
.home-title, h4 .msg h2, .msg p{
    color: #343939;
}

.icon, .logo{
    width: 80px;
}
.icon{
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}

body{
    font-size: 22px;
    font-family: "Inter";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-title{
    font-family: "Shadows Into Light";
    font-size: 2em;
    margin-top: 10px;
}

.msg p{
    font-family: "Inter";
    font-size: 2em;
    padding-bottom: 15px;
}
#logo_link{
    padding-top: 5px;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding: 15px;

}
.river-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #cf971b;
}

main section img{
    box-sizing: border-box;
}

