*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    font-size: 1.5rem;
    background-color: #2B2D42;
    padding: 1rem;
    
}
nav a{
    display: block;
    text-decoration: none;
    color: #EDF2F4;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #2B2D42;
}

main h1 {
    color: #2B2D42;
    
}
main img{
    box-shadow: 0 20px 17px -5px #2B2D42;
    float: right;
    padding-top: 1rem;
}

h1::first-letter{
    font-size: 50px;
    color: #EF233C;
    font-style: italic;
}
main p{
    margin: 20px 0 20px 10px;
    font-size: 23px;
}

main ul li a{
    text-decoration: none;
    margin: 20px 0 20px 10px;
    font-size: 1.1em;
    color: #EF233C;
}
main ul{
    background-color: #8D99AE;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 10px;

}
span{
    color: #EF233C;
    font-size:25px;
    font-style: italic;
}
/* main{
    max-width: 840px;
} */


aside img{
    
    width: 280px;
    height: 70%;
}
aside h2{
    color: #2B2D42;
    position: absolute;
    left: 120px;
    top: 50px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #2B2D42;
    text-align: center;
  
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

aside{
    position: relative;
}



main p{
    padding: 0;
    
}

/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    background-color: #8D99AE;
    color: #2B2D42;
    text-align: center;
    box-shadow: 0 20px 18px -5px #2B2D42;
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    height: 100%;
}

.grid{
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 40% 30%;
    grid-gap: 10px;
}

.grid main{
    grid-column: 2/3;
    grid-row: 1/4;
    margin-top: 10%;
}
.grid aside{
    grid-column: 1/2;
    grid-row: 1/4;
}

.box p{
    margin-top: 10px;
    font-size: 1.2em;
}